# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Flask instance folder
instance/
instance/*.db

# Environment variables
.env

# Alembic / Flask-Migrate cache
migrations/__pycache__/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

app/seed_scripts/